<!-- src/app/components/users/users.component.html -->
<div class="users-container">
  <h2>Gestión de Usuarios</h2>

  <!-- Campo de búsqueda -->
  <input class="search-input" [(ngModel)]="filter" name="filter" placeholder="Buscar por nombre, apellido o email" />

  <!-- Lista de usuarios -->
  <table class="users-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Cédula</th>
        <th>Rol</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of filteredUsers">
        <td>{{ user.idUsuario }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.nombre }}</td>
        <td>{{ user.apellido }}</td>
        <td>{{ user.cedula }}</td>
        <td>{{ user.rol }}</td>
        <td>
          <button class="btn-detail" (click)="showUser(user.email)">Detalle</button>
          <button class="btn-update" (click)="updateUser(user.email)">Actualizar</button>
          <button class="btn-delete" (click)="deleteUser(user.email)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Botón para ir a agregar usuario -->
  <button class="add-user-btn" (click)="navigateToAddUser()">Agregar Usuario</button>
</div>
