<div class="container" *ngIf="detalle">
  <div class="card">
    <h2>Detalles del Mantenimiento</h2>
    <ul class="detallemant-details-list">
      <li><strong>ID Detalle:</strong> {{ detalle.idDetalleMantenimiento }}</li>
      <li><strong>ID Admin:</strong> {{ detalle.idAdmin }}</li>
      <li><strong>ID Equipo:</strong> {{ detalle.idEquipo }}</li>
      <li><strong>ID Mantenimiento:</strong> {{ detalle.idMantenimiento }}</li>
      <li><strong>Fecha de Mantenimiento:</strong> {{ detalle.fechaMantenimiento | date:'dd/MM/yyyy' }}</li>
    </ul>
    <button class="btn-secondary" (click)="back()">Volver</button>
  </div>
</div>