<div class="container" *ngIf="user">
  <div class="card">
    <h2>Detalles del Usuario</h2>
    <ul class="user-details-list">
      <li><strong>ID:</strong> {{ user.idUsuario }}</li>
      <li><strong>Nombre:</strong> {{ user.nombre }}</li>
      <li><strong>Apellido:</strong> {{ user.apellido }}</li>
      <li><strong>Cédula:</strong> {{ user.cedula }}</li>
      <li><strong>Correo electrónico:</strong> {{ user.email }}</li>
      <li><strong>Rol:</strong> {{ user.rol }}</li>
    </ul>
    <button class="btn-secondary" (click)="back()">Volver</button>
  </div>
</div>
